singularity.enabled = true
singularity.autoMounts = true

process {
  withName: 'OCEANOMICS_OCEANGENOMES_GENOMENOTES:BLOBTOOLS:BLOBTOOLS_COUNTBUSCOS' {
    container = '/software/projects/pawsey0964/singularity/blobtoolkit:4.4.5.sif'
  }
}


process 
        { withName: 'OCEANOMICS_OCEANGENOMES_GENOMENOTES:BLOBTOOLS:BLOBTOOLKIT_WINDOWSTATS' {
    container = '/software/projects/pawsey0964/singularity/blobtoolkit:4.4.5.sif'
  }
}

